html {
  overflow-x: hidden;
  
 
}

a {
  color:#0c0f33;
  outline: 0;
  text-decoration: none;
}


body { padding:0;
  margin:0;
  color:#0c0f33;font-weight: 500;
  background:#ffdad7;
  position: relative;
  font-family:'Comic Sans MS', cursive, sans-serif;

}

p {
  font-size: 15px;
  font-weight: 400;

  line-height: 1.4;
  margin-bottom: 15px;
}

.link {
  position: relative;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.link:after {
  position: absolute;
  top: 8px;
  right: -15px;
  width: 9px;
  height: 2px;
  background: #0c0f33;
  content: " ";
}

span {
  font-size: 14px;
  font-weight: 400;
  color: #0c0f33;
}

h1, h3, h4, h5, h6 {
  font-weight: 700;
  padding:0;
  margin:0;
  line-height: 1.4;


}

h2{font-weight: 700;text-align:center;
font-size:2.5em;
padding:50px;
   color:#0c0f33;}

header{
	
	border-bottom:5px dashed #0c0f33;
	width:100%;
	padding:5px;
	background:none;
	top: 0; left: 0;
	transition: all .3s ease;
	font-family:'Comic Sans MS', cursive, sans-serif;
	position:static;
}
header.out {
	transform: translateY(-100%);
}

.nazv_syta{font-size:2em;
font-weight:bold;
vertical-align:middle;
display:inline-block; 
}

.but_m{
	border:3px dotted;
	border-radius:70px/70px;
  border-color: transparent;
	text-align:center;
	padding:15px;
	font-size:1.2em;
vertical-align:middle;
	display:inline-block;
	cursor:pointer;
	font-weight:bold;
 transition:all 500ms;
}

.but_m:hover{border:3px solid #0c0f33; transition:all 250ms;}

.but-menu{vertical-align:middle;
	display:inline-block;margin-left:15%;}
	.logo{
		height:10vh;
		width:15vh;
		margin-left:10vh;
		display:inline-block;
		vertical-align:middle;
		
		background-size:cover;
		background-image:url('котлого.png');	}
 
  
.block2,.block3, .block4,.block5{
	height:130vh;
	width:100%;
	text-align:center;
	background:#fefaef;
	
border:1px solid transparent;
}
.block11{
	height:130vh;
	width:100%;
	text-align:center;
	background:#fefaef;
	
border:1px solid transparent;
	border-radius: 70px 70px 0px 0px ;
}

.block66{
	padding:20px;
	width:100%;
	text-align:center;
	background:#fefaef;
border:1px solid transparent;
	}

footer{height:20vh;
background:#ffdad7;
padding:50px;
font-size:1.3em;
color:#0c0f33;}


.but{
	border-radius:100px/100px;
	width:20vh;
	display:inline-block;
		text-align:center;
		padding:10 0 10 0;
		border:4px solid  #e6612d; 
		cursor:pointer;
		
		 transition:all 250ms;
}

.but a{color: #e6612d; transition:all 250ms;}
.but:hover a{color:#0c0f33; transition:all 250ms;}
.but:hover {border:4px dotted #0c0f33; transition:all 250ms; }
.but:active{
	scale:0.9; transition:all 250ms;
}

 
  details{
	  padding:10px;
	  margin:10px;
	  background:#ffdad7;
	  cursor:pointer;
	  width:50%;	padding:0;
	text-align:left;
	  font-size:1.3em; 
	  border-radius:50px/50px;
	    border-top:none;
  }
  
  
  details summary {
	  padding:20px;
	   background:#ffdad7; border-radius:100px/100px;
  display: block;font-size:1.3em;
}
details summary::-webkit-details-marker {
  display: none;
}
details summary::before {
  content: "+ ";
}
details[open] summary::before {
  content: "- ";
}

 

details p,details ul{font-size:1.1em;margin:30px;padding:10px;}
   details li{ list-style-type: none;}
details li::before {
    list-style-type: none;
	content:'\2606'}
	
	