
}
.card {
  width: 100%;
 
}
.card .card_img {
  width:60%;
  display:inline-block;
 height:85vh;
 vertical-align:middle;
  background-size:cover;
}
#c1{width:50%;}
.card .card_text {
  width: 30%;display:inline-block;
  vertical-align:top;
  text-align:center;
  margin-right:20px;
  background:none;
   vertical-align:middle;
  background:#ffdad7;
  border-radius:10%;
  flex-shrink:0;padding-top:5vh;
  padding-bottom:100px;
  
}

.card_text h2{
	
font-weight: 700;
  padding:0;
  padding:5px;
  font-size:1.5em;
  margin:0;
line-height: 1.4;}  
  .list6a {
font-size:1.5em;
    padding:0;
    list-style: none;
}
.list6a li{
    padding:6px;
}
.list6a li:before {
    padding-right:10px;
    font-weight: bold;
    color:  transparent;
    content: "\2606";
	
    transition-duration: 0.5s;
}
.list6a li:hover:before {
    color: #fe848a;
    content: "\2606";
}

	
.nom .nom_img {
  width: 49%;display:inline-block;

  background-size:cover;
  height:79vh;
}

.print_pri{
	
	width:10vh;
	height:10vh;
	margin:auto;
	
margin-right:10px;	background-size:cover;
margin:auto;

	
}
	.print_m{width:11vh;
	margin:auto;
	height:11vh;border-radius:50%;
	text-align:center;border: 4px dotted transparent;}


.text_k{
	width:100%;
	margin:auto;
	display:inline-block;
	vertical-align:middle; text-align:center;
}  
  
  
.uslugi{display:inline-block;vertical-align:middle;width:33%; font-size:1.3em;}
.usl_pri{height:20vh; transition:all 250ms;padding:20px;
border-radius:50%;
margin-top:20px;
}

.usl_pri:hover{
  background: none; 
  scale: 1.1; 
  transition:all 250ms;}
  
.usl_pri:hover .print_m{
	border: 4px dotted #fe848a;
	border-radius:50%;
  outline-offset: 4px;
   transition:all 250ms;}
  
	.c_ab{font-size:1.7em;padding:20px;
}
	
